
        {{#if unknown}}
        <h1>{{unknown}}</h1>
        {{else}}
        <h3>Comic Number: {{data.num}}</h4>
        <h4>Times Viewed: {{viewTimes}}</h5>
        <h1>{{data.title}}</h2>
        <p>Published: {{data.day}}-{{month}}-{{data.year}}</p>
        {{/if}}
        
<br>
        {{#if first}}
        <button class="button pull-left" onclick="window.location.href='/previous'">Comic Number {{#add data.num -1}}{{/add}}</button>
        {{/if}}

        {{#if last}}
        <button class="button pull-right" onclick="window.location.href='/next'">Comic Number {{#add data.num 1}}{{/add}}</button>
        {{/if}}
<br>
<br>
        <br>
        <br>


        <img src="{{data.img}}" alt="{{data.alt}}" class="img-responsive img-thumbnail" />


        <br>
        <br>

        {{#if first}}
        <button class="button pull-left" onclick="window.location.href='/previous'">Comic Number {{#add data.num -1}}{{/add}}</button>
        {{/if}}

        {{#if last}}
        <button class="button pull-right" onclick="window.location.href='/next'">Comic Number {{#add data.num 1}}{{/add}}</button>
        {{/if}}
